extends layout

block content
	h2.currentWeek Week: #{ week }

	div.schedule
		section.days
			div.shift
				h1 Monday 
				ul
					li.morning Alpha
					li.evening Leonardo
					li.night Mark Anthony
		section.days
			div.shift
				h1 Tuesday 
				ul
					li.morning Alpha
					li.evening Melody
					li.night Charles
		section.days
			div.shift
				h1 Wednesday 
				ul
					li.morning Alpha
					li.evening Jofel
					li.night Charles
		section.days
			div.shift
				h1 Thursday 
				ul
					li.morning Alpha
					li.evening Leonardo
					li.night Charles
		section.days
			div.shift
				h1 Friday 
				ul
					li.morning Alpha
					li.evening Leonardo
					li.night Charles
		section.days
			div.shift
				h1 Saturday 
				ul
					li.morning Alpha
					li.evening Leonardo
					li.night Charles
		section.days
			div.shift
				h1 Sunday 
				ul
					li.morning Alpha
					li.evening Leonardo
					li.night Charles
