doctype html
html
	head
		title= 'Email Assignment Schedule'
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		p.title= 'English Support: Mail Assignment Schedule'
		block content
	script(src='javascripts/classie.js')
	script(src='javascripts/selectFx.js')
	script.
		(function() {
			[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
				new SelectFx(el);
			} );
		})();